# created by virtualenv automatically
# *

### NetBeans template

Доделать программу на Python_ проект в категории Веб-программирование, 20.10.2022 в 13_49.pdf
Библиотека PyPDF2 в Python_ примеры работы с файлами PDF.pdf